<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <title>Consultas MongoDB</title>
    </head>
    <body>
        <div class="container-mt-5">
            <div class="row">
                <div class="row mb-2">
                    <div class="col-md-5 mt-3 ml-3">
                        <a href="/" id="btnRegresar" class="btn btn-sm btn-warning">Regresar</a>
                    </div>
                </div>

                <div class="mx-auto" id="caja">
                <form id="formNewBook" action="/api/books" class="rounded border p-3" method="POST" enctype="multipart/form-data">
                    <h1 class="mb-3 text-center bg-warning text-light rounded p-2">Publica un Nuevo Libro</h1>
                        <div class="row">
                            <div class="col col-md-6 col-sm-12 mb-3">
                                <label for="title" class="form-label">Title of the Book</label>
                                <input type="text" class="form-control" name="title" id="title" placeholder="Title">
                            </div>  
                            
                            <div class="col col-md-6 col-sm-12 mb-3">
                                <label for="yearPublication" class="form-label">Year of Publication</label>
                                <input type="text" name="yearPublication" id="yearPublication" class="form-control" placeholder="Year Publication">
                            </div>
                        </div>    
                            
                        <div class="row">
                            <div class="col col-md-6 col-sm-12 mb-3">
                                <label for="genre" class="form-label">Genre</label>

                                <select name="genre" id="genre">
                                    <option value="">Select Genre</option>
                                    <option value="6520b9bab7c05aac0d42915e">Novela</option>
                                    <option value="6520ba43b7c05aac0d429160">Policial</option>
                                    <option value="6520ba5fb7c05aac0d429162">Dramatico</option>
                                    <option value="65233f258e337775e8b3e6c3">Misterio</option>
                                </select>
                            </div>

                            <div class="col col-md-6 col-sm-12 mb-3">
                                <label for="author" class="form-label">Author</label>
                                <select name="author" id="author">
                                    <option value="">Select Author</option>
                                    <option value="6521c8ecfc6e20670994439d">Jules Verne</option>
                                    <option value="6522a6ecec1e498970b554cd">Joel Dicker</option>
                                    <option value="65233fed8e337775e8b3e6c7">Edgar Poe</option>
                                    <option value="6523eec14ee58483118f4de6">Scott Fitzgerald</option>
                                    <option value="6524161c3f2f25c22e78451c">Charles Dickens</option>
                                </select>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col col-md-6 col-sm-12 mb-3">
                                <label for="archivo" class="form-label">Cover Page</label>
                                <input class="form-control" name="archivo" id="coverPage" type="file">
                            </div>
                        </div>
                        
                        <div>
                            <button type="submit" class="btn btn-warning">Publicar</button>     
                        </div>
                </form>
                </div>
            </div>

        </div>
    
    <script src="/js/form.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>