h1 {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}