<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas MongoDB</title>
</head>
<body>
    <h1>Adds a New Book</h1>
    <nav>
        <ul>
            <li>
                
            </li>
        </ul>
    </nav>
    <form action="/api/books/newBook" method="POST" enctype="multipart/form-data">
        <label for="title">Title of the Book</label>
        <input type="text" name="title" placeholder="Title">

        <label for="yearPublication">Year</label>
        <input type="text" name="yearPublication" placeholder="Year Publication">

        <input type="number" name="genreId" placeholder="Genre Id">

        <label for="authorId">Author</label>
        <input type="number" name="authorId" placeholder="Author Id">


        <label for="coverPage">Cover Page"></label>
        <input type="file" name="coverPage" placeholder="Cover Page">


        <button type="submit">Submit</button>
    </form>
    
</body>
</html>